@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@600&family=Poppins:wght@700&display=swap');


body{
    background-color: #746c73;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    min-height: 100vh; */
    margin: 0;
}

.title {
    position:absolute;
    top: 5%;
    left: 32%;
    font-size: 100px;
    font-family: 'Handjet', cursive;
    color: #f5f6f8;
    margin: 0px
    }

.kittycone{
    height: auto;
    width: 200px;
    margin: 0px;
   display: flex;
   padding-left: 450px;

   
}

.kittycone2 {
    height: auto;
    width: 200px;
    margin: 0px;
   display: flex;
   float: right;
   padding-right: 440px;
   
}

.box {
    height: auto;
    width: 400px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    margin-top: 400px;
    align-items: center;
    justify-content: center;
    font-family: 'Handjet', cursive;
    font-size: 50px;
    color: #746c73;

}

.boxrow{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}


.flex-title{
    display: flex;
    align-items: center;
    padding-top: 0px;

   margin: 0px;
}












